<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reuse HTML with External JS</title>
  <link rel="stylesheet" href="../static/css/components-style.css"> <!-- File CSS riêng -->
</head>
<body>
  <div id="header"></div>
  <div id="content">
    <p>This is the main content of the page.</p>
  </div>
  <div id="footer"></div>

  <script src="../static/JS/ComponentsManager.js"></script> <!-- Liên kết đến file JavaScript -->
</body>
</html>
