<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/log-in-page-style.css">
</head>
<body>
    <div class="login">
        <h2>Member Login</h2>
        <input type="text" placeholder="tên đăng nhập">
        <input type="password" placeholder="mật khẩu">
        <button>Đăng Nhập</button>
        <div class="tosignup">
            <a href="sign-up-page.html">tạo tài khoản</a>
        </div>
    </div>
    <div id="user-button"></div>
    <div id="back-to-top"></div>
    <script src="../static/JS/ComponentsManager.js"></script>
</body>
</html>