<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/log-in-page-style.css">
</head>
<body>
    <div class="login">
        <h2>Member Login</h2>
        <input type="text" placeholder="tên đăng nhập">
        <input type="password" placeholder="mật khẩu">
        <button>Đăng Nhập</button>
        <div class="tosignup">
            <a href="sign-up-page.html">tạo tài khoản</a>
        </div>
    </div>

    <div class="backtotop">
        <img src="../static/" alt="icon_arrow">
    </div>
    <div class="buttonUser">
        <div class="account">
            <img src="./css/user.png" alt="iconUser">
            <span>Tài Khoản</span>
            <div class="dropdown">
                <a href="./log-in-page.html" class="btn">Đăng nhập</a>
                <a href="./sign-up-page.html" class="btn">Đăng ký</a>
                <a href="#" class="btn">Setting</a>
            </div>
        </div>
    </div>
</body>
</html>