html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
}
.login input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.login button:hover {
    background-color: #45a049;
}
@media (max-width: 600px) {
    .login {
        width: 90%;
        padding: 20px;
    }
}
